.modal {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro */
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  }


  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .product-img{
    max-width: 100%;
    height: auto;
    width: 150px;
}

.product-details {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    transition: transform 0.3s;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    }
  }

  .product-title {
    font-size: 1.75rem;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 1rem;
    text-align: center;
    border-bottom: 2px solid #007bff;
    padding-bottom: 0.5rem;
  }

  .product-name,
  .product-description {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #34495e;
    line-height: 1.6;
  }

  .content-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px auto;
  }

  .product-price {
    font-weight: bold;
    color: #e74c3c;
    font-size: 1.1rem;
    margin: 10px 0;
  }

  .product-img {
    max-width: 100%;
    height: auto;
    width: 150px;
  }
